//
body {
    background-color: #f5f5f5;
    font-family: Livory;
}

main {
    background-color: white;
}

#timer {
    background-color: #d43f3a;
    padding: 4px;
}

h4 {
    font-weight: bold;
    color: #4c2414;
}

.btn-link {
    color: black;
}

.payment-block, .states-block {
    display: none;
}